# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "994822b33aae030df063b7acdd078bee"
name = "logistix"
application_url = "http://localhost:3000"
embedded = false

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "http://localhost:3000/auth/callback", "http://localhost:3000/auth/login" ]
